
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.header-wrapper{
  background-color: #8eb4cb;

}

.header{
  margin: 0px 100px
}
.characterbox {
  display: inline-block;
  margin: 20px;
  background-color: #8c8c8c;
  color: black;
  font-size: 18px;
  padding: 40px 40px 40px 40px;
}

.skillscontainer{
 padding: 5px;
}
.header-skillbox{
 margin-top: 5px;
}
.skillbox {
  margin: 5px;
}

.skill{
  width: 25px;
  text-align: center;

}
.skill-value{
  color: azure;
 border: solid 1px #505a56;
  text-align: center;

}
.character-bio-wrapper{
  margin:0px 100px;
}
.character-bio-block{
  margin: 10px;
  background-color: #8eb4cb;
}
.character-bio-name{
  margin:5px 10px;
}
.character-bio-value{
  margin: 5px 10px;
  color: azure;
}