
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.characterbox {
  display: inline-block;
  margin: 20px;
  background-color: #8c8c8c;
  color: black;
  font-size: 18px;
  padding: 40px 40px 40px 40px;
}
