
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.character-box {
  display: inline-block;
  margin: 20px;
  background-color: #8c8c8c;
  color: black;
  font-size: 18px;
  padding: 40px 40px 40px 40px;
}

// region Character Single View
.header-wrapper{
  background-color: #8eb4cb;

}

.header{
  margin: 0px 100px
}

.header-skillbox-wrapper{
  margin-top: 5px;
}

.character-bio-wrapper{
  margin:0px 5px;
}
.character-talents-wrapper{

}
//endregion

// region Character Talent Include
.talents-container{
  max-width: 1070px;
}
.talent-block{
  max-width: 525px;
  margin: 5px;
  background-color: #8eb4cb;

}
.talent-single{
  border: solid 1px #505a56;
  margin:1px;
}

.talent-name{
  margin: 0px!important;
  text-align: center;
  width: 167px;
}
.talent-value{
  font-size: large;
  margin: 17px;
  padding: 0px !important;
}
.talent-skill{
  margin-right: 2px;
}

.talent-block{
  margin: 3px;
}
.talent-name{

}
.talent-value{
  display: inline-block;
}

//endregion

// region Character Skills Include
.skills-container{
  padding: 5px;
}
.skill-block {
  margin: 5px;
}

.skill-name{
  width: 25px;
  text-align: center;

}
.skill-value{
  color: azure;
 border: solid 1px #505a56;
  text-align: center;
  margin: 0px!important;

}
//endregion

// region Character Bio Include
.bio-container{
  margin: 5px;
}

.bio-block{
  margin: 2px;
  background-color: #8eb4cb;
}
.bio-name{
  margin:5px 10px;
}
.bio-value{
  margin: 5px 10px;
  color: azure;
}
//endregion